{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
<div class="jumbotron text-center">
  <div class="row">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Movie Library</h1>
    <p>Simple movie library application developed by group 4.</p>
    <a type="button" class="btn btn-lg btn-default" href="movies/"><span class="glyphicon glyphicon-flash"></span> Explore More</a>
    <a type="button" class="btn btn-lg btn-primary" href="movies/"><span class="glyphicon glyphicon-download"></span> Videos</a>
  </div>
</div>
<div class="row">
  <div class="alert alert-info text-center" role="alert">
    You can watch a lot of movies from this library don't leave <a href="https://devcenter.heroku.com/articles/getting-started-with-python" class="alert-link">Getting Started with Python on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <img src="{% static 'home.jpg'%}" width="100%">
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="#">African center</a></li>
        <li><a href="#">Group 4 members</a></li>
        <li><a href="#">Info</a></li>
        <li><a href="#">ACEDS</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please If you are satisfied, Buy me a cup of tea.
  </div>
</div>
</div>
{% endblock %}
